@{
    ViewData["Title"] = "User";
}
@section Css{
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-users icon-gradient bg-tempting-azure">
                </i>
            </div>
            <div>
                Users
                <div class="page-title-subheading">
                    <a title="Home" href="@Url.Content("~/Home")">Home</a> / Users
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-12 card">
            <div class="card-header">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal1" id="btnAdd"><i class="fa fa-plus"></i> Add</button>
            </div>
            <div class="card-body">
                <table class="display table table-bordered table-hover" id="table1" style="width:100%">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Fullname</th>
                            <th>Username</th>
                            <th>Email</th>
							<th>Telp</th>
							<th>Roles</th>
                            <th>IsActive</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Modal {
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true" id="modal1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal1Title">Add Role</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="form1" method="POST" action="@Url.Content("~/Users/CreateOrUpdate")">
					<div class="modal-body">
						<input type="hidden" name="id" id="id" value="" style="display: none" />
						<div class="position-relative row form-group">
							<label for="fullname" class="col-sm-2 col-form-label">Fullname</label>
							<div class="col-sm-10"><input name="fullname" id="fullname" placeholder="Fullname" type="text" class="form-control" required="" maxlength="50"></div>
						</div>
						<div class="position-relative row form-group">
							<label for="username" class="col-sm-2 col-form-label">Username</label>
							<div class="col-sm-10"><input name="username" id="username" placeholder="Username" type="text" class="form-control" required="" maxlength="50"></div>
						</div>
						<div class="position-relative row form-group">
							<label for="email" class="col-sm-2 col-form-label">Email</label>
							<div class="col-sm-10"><input name="email" id="email" placeholder="Email" type="email" class="form-control" required="" maxlength="50"></div>
						</div>
						<div class="position-relative row form-group">
							<label for="telp1" class="col-sm-2 col-form-label">Telp1</label>
							<div class="col-sm-10"><input name="telp1" id="telp1" placeholder="Telp1" type="text" class="form-control" required="" maxlength="50"></div>
						</div>
						<div class="position-relative row form-group">
							<label for="description" class="col-sm-2 col-form-label">Description</label>
							<div class="col-sm-10"><textarea name="description" id="description" class="form-control" placeholder="Description" style="resize:none" required="" maxlength="200"></textarea></div>
						</div>
						<div class="position-relative row form-group">
							<label for="roles" class="col-sm-2 col-form-label">Roles</label>
							<div class="col-sm-10">
								<select id="roles" name="roles[]" multiple="multiple" style="width:100%"></select>
							</div>
						</div>
						<div class="position-relative row form-group">
							<label for="isActive" class="col-sm-2 col-form-label">Is Active</label>
							<div class="col-sm-10">
								<input type="checkbox" name="isActive" id="isActive" value="true" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnClose">Close</button>
						<button type="submit" class="btn btn-primary" id="btnSave">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
}
@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#roles').select2({
				placeholder: "Roles"
			});
		});
	</script>
	<script type="text/javascript">
		$(function () {
			var table = $('#table1').DataTable({
				ajax: {
					url: "Users/GetAllData",
					type: "POST",
				},
				processing: true,
				serverSide: true,
				filter: false,
				order: [[1, 'asc']],
				columns: [
					{ defaultContent: '<i class="fa fa-eye btnView" style="cursor:pointer" data-toggle="modal" data-target="#modal1"></i> &nbsp; <i class="fa fa-edit btnEdit" style="cursor:pointer" data-toggle="modal" data-target="#modal1"></i> &nbsp; <i class="fa fa-trash btnDelete" style="cursor:pointer"></i>' },
					{ data: "fullname", name: "fullname" },
					{ data: "username", name: "username" },
					{ data: "email", name: "email" },
					{ data: "telp1", name: "telp1" },
					{ data: "roles", name: "roles" },
					{ data: "is_Active", name: "is_Active" }
				]
			});

			$('#table1 tbody').on('click', '.btnView', function () {
				var row = $(this).closest('tr');
				var id = table.row(row).data()["id"];

				$('#modal1Title').text('View User');
				$('#btnSave').hide();
				$("#form1 :input").prop("disabled", true);
				$("#btnClose").prop("disabled", false);

				$.ajax({
					type: 'GET',
					url: '@Url.Content("~/Users/GetById/")' + id,
					success: function (data) {
						$('#fullname').val(data.fullname);
						$('#username').val(data.username);
						$('#email').val(data.email);
						$('#telp').val(data.telp1);
						$('#description').val(data.description);
						if (data.is_Active) {
							$('#isActive').prop("checked", true);
						} else {
							$('#isActive').prop("checked", false);
						}
					}
				});

				updateRolesOption(id);
			});

			$('#table1 tbody').on('click', '.btnEdit', function () {
				var row = $(this).closest('tr');
				var id = table.row(row).data()["id"];

				$('#modal1Title').text('Edit User');
				$('#btnSave').show();
				$("#form1 :input").prop("disabled", false);

				$.ajax({
					type: 'GET',
					url: '@Url.Content("~/Users/GetById/")' + id,
					success: function (data) {
						$('#id').val(data.id);
						$('#fullname').val(data.fullname);
						$('#username').val(data.username);
						$('#email').val(data.email);
						$('#telp1').val(data.telp1);
						$('#description').val(data.description);
						if (data.is_Active) {
							$('#isActive').prop("checked", true);
						} else {
							$('#isActive').prop("checked", false);
						}
					}
				});

				updateRolesOption(id);
			});

			$('#table1 tbody').on('click', '.btnDelete', function () {
				var row = $(this).closest('tr');
				var id = table.row(row).data()["id"];

				Swal.fire({
					title: "Are you sure want to delete?",
					showCancelButton: true,
					confirmButtonText: "Delete",
				}).then((result) => {
					if (result.isConfirmed) {

						$.ajax({
							type: 'DELETE',
							url: '@Url.Content("~/Users/Delete/")' + id,
							success: function (data) {
								ShowMessage("success", data);
								table.ajax.reload();
							},
							error: function (data) {
								ShowMessage("error", data.responseText);
							}
						});
					}
				});
			});

			$('#btnAdd').click(function () {
				$('#modal1Title').text('Add User');
				$('#btnSave').show();
				$("#form1 :input").prop("disabled", false);
				$("#form1 :input").val('');
				$('#isActive').prop("checked", true);
				$('#isActive').val("true");

				updateRolesOption(null);
			});

			$('#form1').submit(function (e) {
				e.preventDefault();

				let form = $(this);
				let actionUrl = form.attr('action');
				let formFinal = form.serialize();

				$.ajax({
					type: 'POST',
					url: actionUrl,
					data: formFinal,
					success: function (data) {
						ShowMessage("success", data);
						$("#btnClose").click();
						table.ajax.reload();
					},
					error: function (data) {
						ShowMessage("error", data.responseText);
					}
				});
			});
		});
		function updateRolesOption(userId){
			 $("#roles").empty();
			$.ajax({
				type: "GET",
				url: '@Url.Content("~/Users/GetRoles?userId=")' + userId,
				success: function (data) {
					$.each(data, function (index, data1) {
						let selected = "";
						if (data1.selected) selected = "selected";
						$("#roles").append("<option value='" + data1.value + "' " + selected + ">" + data1.text + "</option>");
					});
				}
			});
		}
	</script>
}